.color1 {
    color: #333333;
  }
  
  .color2 {
    color: #48e5c2;
  }
  
  .color3 {
    color: #fcfaf9;
  }

  .bg-color1 {
    background-color: #333333;
  }

  .bg-color2 {
    background-color: #48e5c2;
  }

  .bg-color3 {
    background-color: #fcfaf9;
  }

  .bg-color4 {
    background-color: #494848;
  }