@tailwind base;
@tailwind components;
@tailwind utilities;

/* #333333, #48e5c2, #fcfaf9 */

html body {
  padding: 0;
  margin: 0;
}

.color1 {
  color: #333333;
}

.color2 {
  color: #48e5c2;
}

.color3 {
  color: #fcfaf9;
}